body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 240px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0;
    padding: 0;
}

p.intro {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.9;
}

.footer {
    width: 95%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;
}

.footer-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-link {
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

.footer-link:hover {
    opacity: 1;
}

.footer-links {
    display: flex;
    align-items: flex-start;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.7;
    margin-right: 10px;
}

.footer-links a:last-child {
    margin-right: 0;
}

.projects {
    align-self: flex-end;
}

.projects ul {
    text-align: right;
}

/* Custom Styles for Mobile Devices */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 120px;
        top: 10%;
    }

    h2 {
        font-size: 60px;
        top: 20%;
        margin: revert;
    }

    p.intro {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        right: auto;
        left: 10px;
        bottom: 20px;
        top: auto;
    }

    .footer-links {
        margin-top: 20px;
    }

    .footer-links a {
        display: block;
        margin-bottom: 10px;
    }
}